@page
@using DevExtreme.AspNet.Mvc;
@using Microsoft.Extensions.Localization
@using Sample.CustomerService.Localization
@using Sample.CustomerService.Web.Pages.Test1
@model Sample.CustomerService.Web.Pages.Test1.IndexModel
@inject IStringLocalizer<CustomerServiceResource> L

@{
    ViewBag.FluidLayout = true;
}
<h1>Test1 Reports</h1>